@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1366px;
    width: 100%;
    height: 100vh !important;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 1rem auto;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.flex-container input{
    width: 40%;
    margin: auto;
    height:50px;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 10px;
}


.google-button{
    width: 70%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.github{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin: 1rem;
    transition: all 1s ease;
    cursor: pointer;
} 
.github i{
    color: #000;
} 

.github:hover{
    background-color: #000;
}

.github:hover i{
    color: #e8e8e8;
}
.icon i {
    font-size: 2.5rem;
}




@media (max-width:991px) {

    .flex-container input{
        width: 80%;
        height: 50px;
    }

    .flex-container h1 {
        font-size: 2.5rem;
    }

}